/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../devlangs/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/sidebar.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/sidebar.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/sidebar.scss */
div.hardware-accelarate {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 19, ../sass/sidebar.scss */
.menu.main {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
}
/* line 26, ../sass/sidebar.scss */
.menu.side.main span {
  padding: 8px;
  border-color: black;
  border-style: double;
  border-radius: 10px;
  border-width: 2px;
  font-size: 20px;
}

/* line 36, ../sass/sidebar.scss */
nav.side.main {
  /*margin-top: 50px;*/
  background: #3C3C3C;
  display: block;
  position: fixed;
  height: 100%;
  left: 0;
  width: 200px;
  z-index: 0;
  color: #d9d9d9;
  padding-top: 20px;
  border-color: #e7e7e7;
}
/* line 49, ../sass/sidebar.scss */
nav.side.main ul.menu > li {
  background: #3C3C3C;
  outline: none;
  color: #d9d9d9;
  border-bottom: 1px solid #484848;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}
/* line 60, ../sass/sidebar.scss */
nav.side.main ul.menu > li select {
  color: black;
}

/* line 66, ../sass/sidebar.scss */
div.body-content {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}
/* line 79, ../sass/sidebar.scss */
div.body-content[data-state="neutral"] {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 86, ../sass/sidebar.scss */
div.body-content[data-state="slide-right"] {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

/* line 11, ../sass/screen.scss */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/* line 18, ../sass/screen.scss */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/* line 27, ../sass/screen.scss */
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/* line 33, ../sass/screen.scss */
input, select, textarea {
  max-width: 280px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/* line 40, ../sass/screen.scss */
.nofloat {
  float: none !important;
}

/* line 44, ../sass/screen.scss */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 49, ../sass/screen.scss */
.targetVideo {
  margin-bottom: 20px;
}

/* line 53, ../sass/screen.scss */
ul {
  list-style-type: none;
}

/* line 57, ../sass/screen.scss */
.targetVideo img.cover {
  width: 130px;
}

/* line 61, ../sass/screen.scss */
.fb-like.fb_iframe_widget {
  float: right;
}

/* line 65, ../sass/screen.scss */
.main-container {
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 5%;
  position: relative;
}

/* line 72, ../sass/screen.scss */
.body-content.container {
  margin-top: 50px;
}

/* line 76, ../sass/screen.scss */
.central {
  text-align: center;
}

/* line 80, ../sass/screen.scss */
.margin-auto {
  margin: 0 auto;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/* line 86, ../sass/screen.scss */
input, select, textarea {
  max-width: 280px;
}

/* line 90, ../sass/screen.scss */
.central {
  margin: auto;
}

/* line 94, ../sass/screen.scss */
.center {
  margin: 0 auto;
  width: 80%;
}

/* line 99, ../sass/screen.scss */
.main-video-input {
  display: inline !important;
}

/* line 103, ../sass/screen.scss */
.index.row {
  text-align: center;
}

/* Carousel */
/* line 109, ../sass/screen.scss */
.carousel-caption {
  z-index: 10 !important;
}
/* line 112, ../sass/screen.scss */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  /* line 119, ../sass/screen.scss */
  .carousel-caption {
    z-index: 10 !important;
  }
}
/* line 125, ../sass/screen.scss */
progress.videoLoader[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border: none;
}
/* line 134, ../sass/screen.scss */
progress.videoLoader[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left, #09c, #f33);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/* line 140, ../sass/screen.scss */
progress.videoLoader[value]::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
/* line 146, ../sass/screen.scss */
progress.videoLoader[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}
/* line 156, ../sass/screen.scss */
progress[value]::-webkit-progress-value::before {
  content: '50%';
  position: absolute;
  right: 0;
  top: -125%;
}
/* line 163, ../sass/screen.scss */
progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: #fff;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
/* Playlist styles */
/* line 185, ../sass/screen.scss */
#playlist-search-form {
  display: inline-block;
  /*  width: 50em;*/
}
/* line 188, ../sass/screen.scss */
#playlist-search-form .input-group {
  width: 100%;
}
/* line 192, ../sass/screen.scss */
#playlist-search-form #query {
  display: inline-block;
  float: none;
  max-width: unset !important;
  width: 80%;
}
/* line 199, ../sass/screen.scss */
#playlist-search-form .input-group-btn {
  display: inline-block;
}

/* End of playlist styles*/
/* line 206, ../sass/screen.scss */
#progress p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  background: #eee url("progress.png") 100% 0 repeat-y;
}
/* line 215, ../sass/screen.scss */
#progress p.success {
  background: #0c0 none 0 0 no-repeat;
}
/* line 219, ../sass/screen.scss */
#progress p.failed {
  background: #c00 none 0 0 no-repeat;
}

/* line 224, ../sass/screen.scss */
.targetVideos.row {
  text-align: center;
}
/* line 227, ../sass/screen.scss */
.targetVideos.row ul {
  display: block;
  font-family: Arial,Verdana;
  font-size: 14px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 236, ../sass/screen.scss */
.targetVideos.row ul li {
  z-index: 1;
  display: block;
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

/* line 247, ../sass/screen.scss */
.mainLogo {
  margin-left: 230px;
}

/* line 251, ../sass/screen.scss */
.mainCloudTooltip {
  width: 310px;
  height: 150px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
/* line 258, ../sass/screen.scss */
.mainCloudTooltip img {
  width: 100%;
  height: 100%;
}
/* line 263, ../sass/screen.scss */
.mainCloudTooltip .instructions {
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 0;
}

/* line 271, ../sass/screen.scss */
.targetVideo {
  display: block;
}
/* line 274, ../sass/screen.scss */
.targetVideo img {
  z-index: 1;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 283, ../sass/screen.scss */
  .mainLogo {
    margin-left: 0 !important;
  }

  /* line 287, ../sass/screen.scss */
  .mainCloudTooltip {
    width: 220px;
    height: 150px;
    vertical-align: top;
    display: inline-block;
    position: relative;
  }
  /* line 294, ../sass/screen.scss */
  .mainCloudTooltip .instructions {
    padding-right: 30px !important;
    top: 40px !important;
  }
}
