﻿@model dynamic

@{
    ViewBag.Title = "Administration panel"; 
}
<h2>Administration</h2>


<ul>
    <li>@Html.ActionLink("Users", "Index","Users")</li>
    <li>@Html.ActionLink("Videos", "Index","Video")</li>
    <li>@Html.ActionLink("Playlists", "Index","Playlist")</li> 
</ul>