﻿@model object
<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })</li> 
    <li class="">@Html.ActionLink("Playlists", "Index", "Playlist", null, new { @class = "" })</li> 
@*    <li class="">@Html.ActionLink("Videos", "Index", "Video", null, new { @class = "" })</li> *@
</ul> 