﻿@using Microsoft.AspNet.Identity
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="profile-li"><a class="profile-links" href="@Url.Action("Index", "Manage", routeValues: null)">Settings</a></li>
            <li class="profile-li"><a class="profile-links" href="@Url.Action("Index", "Manage", routeValues: null)">My downloads</a></li>
            @if (this.User.IsInRole("AppAdmin"))
            {
                <li class="profile-li"><a class="profile-links" href="@Url.Action("Index", "Administration", new {Area = "Administration"})">Administration panel</a></li> 
            }
            <li class="profile-li"><a class="profile-links" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>

</ul>
    }