﻿.container.playlist .playlist-header,
.container.playlist-details .playlist-header{
    background: rgb(224, 224, 224) none repeat scroll 0% 0%;
}

.nav-pills.dashboard-tab {
    margin-bottom:20px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #FF6600;
    color: #000 !important;
    background-color: transparent !important;
}
.nav-pills > li > a{
    border-radius:0px;
}

.playlist-container {
    width: 100%;
    position: relative;
}
.pl-item {
    display:inline-block;
    margin-right: 20px;
    margin-bottom:20px;
    max-width: 200px;
    position:relative;
    background-color: dimgray;
    min-height: 170px;
}
.pl-item .pl-cover-box {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.pl-item .pl-name-box {
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: table-caption;
    width:100%;
    min-height: 57px;
}
.pl-item .pl-cover {
    height: auto;
    width: 200px;
}
.pl-item .pl-name {
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 5px;
    color: #f4f4f4;
    font-weight: 600;
    font-family: Arial;
}
.pl-item .pl-author {
    font-size: 10px;
    float:right;
    margin-right: 5px;
    color:#c9e8ff
}
.pl-video {
    display:block;
    width: 100%;
    margin-bottom:20px;
}
.pl-video-cover { 
    max-width:260px;
    height:auto;
}
.playlist-controls .btn-pl-download {
    position:absolute;
    right: 20px;
    bottom: 20px;
}
.playlist-header {
    position:relative;

}
