/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "sidebar.scss";
@import "flipkart.scss";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input, select, textarea {
    max-width: 280px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.nofloat {
    float: none !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.targetVideo {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.targetVideo img.cover {
    width: 130px;
}

.fb-like.fb_iframe_widget {
    float: right;
}

.main-container {
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 5%;
    position: relative;
}

.body-content.container {
    margin-top: 50px;
}

.central {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input, select, textarea {
    max-width: 280px;
}

.central {
    margin: auto;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.main-video-input {
    display: inline !important;
}

.index.row {
    text-align: center;
}

/* Carousel */

.carousel-caption {
    z-index: 10 !important;

    p {
        font-size: 20px;
        line-height: 1.4;
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

progress {
    &.videoLoader[value] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        border: none;

        &::-moz-progress-bar {
            background-image: -moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left, #09c, #f33);
            border-radius: 2px;
            background-size: 35px 20px, 100% 100%, 100% 100%;
        }

        &::-webkit-progress-bar {
            background-color: #e0e0e0;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }

        &::-webkit-progress-value {
            background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
            border-radius: 2px;
            background-size: 35px 20px, 100% 100%, 100% 100%;
            -webkit-animation: animate-stripes 5s linear infinite;
            animation: animate-stripes 5s linear infinite;
        }
    }

    &[value]::-webkit-progress-value {
        &::before {
            content: '50%';
            position: absolute;
            right: 0;
            top: -125%;
        }

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            border-radius: 100%;
            right: 7px;
            top: 7px;
            background-color: #fff;
        }
    }
}

@-webkit-keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}


/* Playlist styles */

#playlist-search-form {
    display: inline-block;
    /*  width: 50em;*/
    .input-group {
        width: 100%;
    }

    #query {
        display: inline-block;
        float: none;
        max-width: unset !important;
        width: 80%;
    }

    .input-group-btn {
        display: inline-block;
    }
}

/* End of playlist styles*/

#progress p {
    display: block;
    width: 240px;
    padding: 2px 5px;
    margin: 2px 0;
    border: 1px inset #446;
    border-radius: 5px;
    background: #eee url("progress.png") 100% 0 repeat-y;

    &.success {
        background: #0c0 none 0 0 no-repeat;
    }

    &.failed {
        background: #c00 none 0 0 no-repeat;
    }
}

.targetVideos.row {
    text-align: center;

    ul {
        display: block;
        font-family: Arial,Verdana;
        font-size: 14px;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            z-index: 1;
            display: block;
            float: left;
            position: relative;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.mainLogo {
    margin-left: 230px;
}

.mainCloudTooltip {
    width: 310px;
    height: 150px;
    vertical-align: top;
    display: inline-block;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    .instructions {
        position: absolute;
        top: 60px;
        left: 20px;
        padding: 0;
    }
}

.targetVideo {
    display: block;

    img {
        z-index: 1;
        -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
        -moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
        box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mainLogo {
        margin-left: 0 !important;
    }

    .mainCloudTooltip {
        width: 220px;
        height: 150px;
        vertical-align: top;
        display: inline-block;
        position: relative;

        .instructions {
            padding-right: 30px !important;
            top: 40px !important;
        }
    }
}