﻿* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

div.hardware-accelarate {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu {
    &.main {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10000;
    }

    &.side.main span {
        padding: 8px;
        border-color: black;
        border-style: double;
        border-radius: 10px;
        border-width: 2px;
        font-size: 20px;
    }
}

nav.side.main {
    /*margin-top: 50px;*/
    background: #3C3C3C;
    display: block;
    position: fixed;
    height: 100%;
    left: 0;
    width: 200px;
    z-index: 0;
    color: #d9d9d9;
    padding-top: 20px;
    border-color: #e7e7e7;

    ul.menu > li {
        background: #3C3C3C;
        outline: none;
        color: #d9d9d9;
        border-bottom: 1px solid #484848;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 8px;
        font-size: 16px;

        select {
            color: black;
        }
    }
}

div.body-content {
    background: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;

    &[data-state="neutral"] {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    &[data-state="slide-right"] {
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px);
    }
}
