﻿@using Playitowl.Models;

@model Playitowl.Models.Vm.PlaylistVm
@{
    ViewBag.Title = "Playlists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/css/Playlist.css" />
}
@section scripts{
    <script src="~/wwwroot/js/Playlist.js" type="text/javascript"></script>
    <script type="text/javascript">
        var CurrentPlaylist = new Playlist();
        CurrentPlaylist.init();
    </script>
} 
@section sidebarItems{
    <li><div class="col-md-12">Listen</div></li>
    <li><div class="col-md-12">Newest playlists</div></li>
    <li><div class="col-md-12">Your Playlists</div></li>
}
<div class="container playlist">
    <div class="jumbotron playlist-header">
        <h1>Playlists</h1>
        <p>
            Enjoy hundrets of downloadable music playlists.
        </p>
    </div>
    <ul class="nav nav-pills dashboard-tab">
        <li class="active tab" type="popular"><a href="#">Most popular</a></li>
        <li class="tab" type="genres"><a href="#">Genres</a></li>
        <li class="tab" type="explore"><a href="#">Explore</a></li>
    </ul>
    <!-- All playlist content is filled in here -->
    <div class="playlist-container">

    </div>
</div>


