﻿@using Playitowl.Models
@model Playitowl.Models.Vm.PlaylistVm

@helper Cover()
{
    if (Model != null)
    {
        @Html.Raw(Model.Cover);
    }
    else
    {
        @Html.Raw("<%= Cover %>");
    }
}
@helper ListId()
{
    if (Model != null)
    {
        @Html.Raw(Model.Id);
    }
    else
    {
        @Html.Raw("<%= Id %>");
    }
}
@helper Name()
{
    if (Model != null)
    {
        @Html.Raw(Model.Name);
    }
    else
    {
        @Html.Raw("<%= Name %>");
    }
}
@helper Author()
{
    if (Model != null)
    {
                @Html.Raw(Model.Author);
    }
    else
    {
        @Html.Raw("<%= Author %>");
    }
}
<div class="pl-item" id="@ListId()">
    <div class="pl-cover-box row">
        <img class="pl-cover" src="@Cover()"/>
    </div>
    <div class="pl-name-box row">
        <h4 class="pl-name">@Name()</h4>
        <div class="pl-author">by <span>@Author()</span></div>
    </div>
</div>