﻿@using ytDownloader.Extraction;

@model Playitowl.Models.Vm.VideoVm

<div class="pl-video row" id="@Model.Id" title="@Model.Name">
    <div class="col-md-3">
        <img class="pl-video-cover" src="@Model.Thumbnail" title="@Model.Name" alt="@Model.Thumbnail" />
    </div>
    <div class="col-md-9">
        <h2 class="pl-video-name">@Model.Name</h2>
    </div>
</div>