﻿
@using Playitowl.Models.Vm
@model Playitowl.Models.Vm.PlaylistVm
@{
    if (Model != null)
    {
        ViewBag.Title = Model.Name;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/css/Playlist.css" />
}
@section scripts{
    <script src="~/wwwroot/js/Playlist.js" type="text/javascript"></script>
    <script type="text/javascript">
        var CurrentPlaylist = new Playlist({
            details: true,
            id : "@Model.Id"
        });
        CurrentPlaylist.init();
    </script>
} 
@section sidebarItems{
    <li><div class="col-md-12 side-download">Download</div></li>
    <li><div class="col-md-12">Sync</div></li>
    <li><div class="col-md-12">Favourite</div></li>
}
@helper Name()
{
    @HttpUtility.UrlDecode(Model.Name)
}
@helper Link()
{
    @("/Playlist/Download/" + Model.Id)
}
<div class="container playlist-details" id="@Model.Id">
    <div class="jumbotron playlist-header">
        <h1>@Name()</h1>
        <p>
            By @Model.Author
        </p>
        <div class="playlist-controls">
            <div class="btn-pl-download"><a href="@Link()" target="_blank"><span style="font-size: 3em" class="glyphicon glyphicon-download-alt"/></a></div>
        </div>
    </div> 
    <!-- All playlist content is filled in here -->
    <div class="playlist-details-container">
        @foreach (VideoVm video in Model.Items)
        {
            @Html.Partial("PlaylistVideoItem", video)
        }
    </div>
</div>


