﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

@section sidebarItems{
    <li>
        <div class="col-md-6">Format:</div>
        <div class="col-md-6">
            <select>
                <option>FLV</option>
                <option>WEBM</option>
                <option>MP4</option>
                <option>MP3</option>
            </select>
        </div>
    </li>
    <li>
        <div class="col-md-6">Quality:</div>
        <div class="col-md-6">
            <select>
                <option>Lowest</option>
                <option>Highest</option>
                <option>144</option>
                <option>240</option>
                <option>360</option>
                <option>720</option>
                <option>1080</option>
            </select>
        </div>
    </li>
    <li>
        <div class="col-md-6">Auto-cut </div>
        <div class="col-md-6">
            <input name="auto-cut" type="checkbox" checked="" />
        </div>
    </li>
    <li>
        <div class="col-md-6">Sync:</div>
        <div class="col-md-6">
            <input name="sync" type="checkbox" checked="" />
        </div>
    </li>
}
<div class="menu main side">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>


<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
</div>
<div class="index row main-container">
    <div class="col-md-12">
        <img class="mainLogo" src="/Content/images/owl.png">
        <div class="mainCloudTooltip">
            <img src="/Content/images/cloud.png">
            <ul class="instructions">
                <li><span>1. Place YouTube playlist or song link.</span></li>
                <li><span>2. Choose video or audio.</span></li>
                <li><span>3. Enjoy</span></li>
            </ul>
        </div>
        <div>
            <input class="form-control main-video-input" placeholder="Video link" type="text">
            <button class="btn btn-info btnDownload">Download!</button>
            <div class="checkbox">
                <label>
                    <input id="qAudio" name="downloadType" value="audio" checked="checked" type="radio"> Audio
                </label>
                <label>
                    <input id="qVideo" name="downloadType" value="video" type="radio"> Video
                </label>
            </div>
        </div>
    </div>

    <div class="row targetVideos container">
        <ul></ul>
    </div>
</div>

<form id="chatform" action=""></form>
<div id="messages" style="display: none" />

@section scripts{
    @{ Html.RenderAction("CurrentUserContext", "Account");}
}