﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PlayItOwl</title>
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/stylesheets/screen.css" />
    <link rel="stylesheet" href="~/Content/stylesheets/print.css" />
    <link rel="stylesheet" href="~/Content/stylesheets/ie.css" />

    @RenderSection("Styles", required: false)
    <script src="~/wwwroot/lib/modernizr/modernizr.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70678266-1', 'auto');
        ga('send', 'pageview');

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1541270902831007',
                xfbml: true,
                version: 'v2.5'
            });
        };
    </script>

</head>
<body>

    @Html.Partial("_navbar")

    <nav class="side main" style="display: none;">
        <ul class="menu sidebar-list">
            <!--<li>Format:</li>
            <li>Format:</li>
            <li>Auto-cut:</li>
            <li>Sync:</li>-->
            @RenderSection("sidebarItems", required: false)
        </ul>
    </nav>



    <div class="container body-content hardware-accelarate" data-state="neutral">
        <div class="body-wrap">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year PlayItOwl</p>
        </footer>
    </div>

    <script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/wwwroot/bower/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/lib/respond/dest/respond.min.js"></script>
    <script src="~/wwwroot/lib/string/dist/string.min.js"></script>
    <script src="~/wwwroot/lib/lodash/lodash.js"></script>
    <script src="~/wwwroot/lib/bluebird/js/browser/bluebird.min.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js" id="facebook-jssdk"></script>


    <iframe id="ifDownload" style="display: none;"></iframe>
    <script src="~/wwwroot/js/Sidebar.js" type="text/javascript"></script>
    <script src="~/wwwroot/js/site.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
