﻿
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Areas/Main/Views/Account/RightAuthorized.cshtml")
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
