﻿@using Playitowl.Models
@model Playitowl.Models.Vm.PlaylistSearchBm

@using (Html.BeginForm("Search", "Playlist", FormMethod.Post, new
{
    @class = "navbar-form",
    id = "playlist-search-form",
    name = "search-form",
    role = "search"
}))
{
    <div class="input-group">
        @Html.TextBoxFor(x => x.SearchTerm, new
       {
           @class = "form-control",
           id = "query",
           name = "query",
           placeholder = "Name or artist"
       })
        <div class="input-group-btn">
            <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
}