﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error. @Model.ActionName : @Model.Exception.Message </h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

