﻿@using Playitowl.Models
@model Playitowl.Models.Vm.VideoVm

<div class="targetVideo" id="@Model.Id" isPlaylist="@Model.IsPlaylist.ToString()">
    <div class="col-sm-2">
        <img src="@Model.CoverUrl" class="cover" style="width: 100%" />
    </div>
    <div class="col-sm-9">
        <div class="row col-sm-12" style="text-align: left;">
            <h4>
                @Model.Name
            </h4>
            <span>by @Model.Author</span>
        </div>

        <div class="col-sm-4" style="padding: 0 !important; margin-top: 20px;">
            <div class="progressBar"> 
                <progress class="videoLoader col-sm-12" id="videoLoad_@Model.Id" value="0" max="100"
                          style="height: 10px; padding: 0">

                </progress>
                <span class="progressLabel"></span>
            </div>
        </div>
        

    </div>

</div>
